# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Dockerfiles
!Dockerfile

# Unignore Speedrun binary
!speedrun-*

# Ignore TD2 extracted content
TD2/extracted_content
TD2/extracted_content/*
